@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --font-primary: "Times New Roman", Times, serif;
}
.header{
  display: flex;
  border-bottom: 1px solid black;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
}
.header img{
  width: 80px;
  height: 50px;
}
.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.links a{
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 700;
}
.links .active{
  color: rgb(228, 8, 8);
  font-size: 30px;
}